/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* !da cancellare dopo */
    border: 1px dashed black;
}

/* utils */

.flex{
    display: flex;
}

.container-lg{
    max-width: 1400px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1200px;
    margin: 0 auto;
}

/* generic */

body{
    font-family: 'Open Sans', sans-serif;;
}

button{
    padding: 10px 15px;
}
/* header */

/* nav bar */

header nav{
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 10px;

    /* !da cancellare dopo */
    background-color: lightblue;
}

header .nav-left > *, header .nav-right > *{
    padding: 10px 20px;
}

/* jumbotron */

.jumbo{
    margin-top: 68px;
}

h1{
    margin: 30px 0;
}

.jumbo > .flex{
    justify-content: space-between;
}

.jumbo .text{
    flex-basis: 40%;
}

.jumbo .text *{
    margin: 15px 0;
}


.jumbo figure{
    flex-basis: 60%;
}

/* main */

h2{
    margin: 30px 0;
}

/* section 1 */
.sec-1{
    margin-bottom: 70px;
}

.radius{
    justify-content: flex-start;
    gap: 40px;

    margin: 30px 0;
}

.sec-1 .card-container{
    justify-content: space-between;
    gap: 60px;
}

.sec-1 .card.tall{
    flex-basis: calc(100% / 3);
}

.sec-1 .card > *{
    padding: 15px;
}

.sec-1 .card-top{
    text-align: center;
}

.tall .card-bottom > div{
    margin: 40px 0;
}

.card-bottom .name *, 
.tall .card-bottom li, 
.card-bottom .prova *,
.wide .text *,
.wide .btn{
    margin: 15px 0;
}

.tall .card-bottom li{
    list-style-position: inside;
}

.tall .card-bottom span, .tall .card-bottom button{
    display: block;
}

.sec-1 .card.wide,
.wide .description{
    margin-top: 30px;
}

.sec-1 .wide .contact{
    justify-content: space-between;
}

/* section 2 */

.sec-2 figure{
    flex-basis: 60%;
}

.sec-2 .text{
    flex-basis: 40%;
    padding: 20px;
}

.sec-2 .text *{
    margin: 15px 0;
}
/* footer */